span.value:after {
  content: " kg";
  color: gray;
}

span.ratio.godlike { color: green; font-weight: bold; }
span.ratio.up { color: green; }
span.ratio.down { color: red; }
span.ratio.zero { color: gray; }

span.change-ratio.up { color: green; }
span.change-ratio.down { color: red; }
span.change-ratio.zero { color: gray; }
span.change-ratio:after, span.ratio:after { content: " %"; }

div.toplist td:first-child { text-align: left; }
div.toplist th:first-child { text-align: left; }
div.toplist td { text-align: right; }
div.toplist th { text-align: right; }
div.toplist td:last-child { padding-right: 20px; }
div.toplist th:last-child { padding-right: 20px; }

tr.in_update_buy {
  background-color: #ebffeb;
}

tr.in_update_sell {
  background-color: #ffebeb;
}

/* hack, this removes columns button everywhere */
.ui-table-columntoggle-btn {
  display: none !important;
}

.my-center {
  text-align: center;
}

table.table-stroke {
  margin-bottom: 20px;
}

div.plot-container {
  position: relative;
  height: 300px;
}

div.plot {
  position: absolute;
  left: 0px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

div#plot-overlay {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 100;
}

.time-span-buttons a:first-child {
  margin-left: 10px;
}

.time-span-buttons a {
  margin: 0px;
  margin-left: 8px;
  padding: 0px 5px;
}

div#legend {
  margin-top: 4px;
  text-align: right;
}

div#legend span {
  font-size: small;
  white-space: nowrap;
}
