<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>fitmarket</title>
    <meta name="description" content="fitmarket">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="//necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="main.css">

    <link rel="stylesheet"
    href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script
      src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script src="dygraph.min.js"></script>
    <link rel="stylesheet" src="dygraph.min.css" />

    <script src="main.js"></script>

  </head>
  <body>
